body{
    background-color: lightskyblue;
}

#myVideo {
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 1500px;
    background: transparent url(acrobats_vid.mp4)no-repeat 0 0;
  }

#popcorn {
    position: fixed;
    bottom: -400px;
    left: 500px;
    width: 500px;
    height: 500px;
    margin: auto;
    z-index: 2;
}

#imgDiv {
    display: flex;
    justify-content: space-between;
 }

#bee {
    position: fixed;
    width: 150px;
    height: 150px;
    margin: auto;
    z-index: 3;
    animation-name: motion;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

a{
    margin: auto;
    z-index: 4;
}

@keyframes motion {
    from {
        transform: translate(-30px,500px);
    }
    
    to {
        transform: translate(1920px,0);
    }
}
