body {

  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #FFFFF1;
  background-image: url(https://cdn3.dpmag.com/k2/items/cache/0352c877fa2b9ad266c1cefb1f0c8b3f_XL.jpg);
  background-size: cover;
  image-rendering: auto;
  image-rendering: crisp-edges;
  

}

h3 {
  border: transparent 2px;
  padding: 2vw;
  margin: 20px;
}

.container {
	display:grid;
	grid: repeat(2,60px) / auto-flow 80px;
}

.flip-card {
  background-color: transparent;
  flex-direction: row;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  border: transparent 1px;
	padding: 2vw;
	margin: 5px;
	border-radius: 20%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  /*background-color: #bbb;*/
  color: black;
}

.flip-card-back {
  background-color:#7C00D6;
  color: black;
  transform: rotateY(180deg);
}